#select-input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    color: #f4f4f4;
    background-color: #2c2c2c;
    outline: none;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'10\' height=\'10\' viewBox=\'0 0 24 24\' fill=\'%23ffffff\'%3E%3Cpath d=\'M7 10l5 5 5-5z\'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 2rem auto;
}
